/* Global style */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: white;
  font-weight: 300;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header styles */
/* ======================================= */
header {
  display: flex;
  flex-flow: column nowrap;
  background: linear-gradient(to bottom right, #26d0ce 0%, #687ceb 100%);
  color: #ffffff;
  min-width: 42rem;
  padding: 0.5rem;
  border-bottom: #50a3a2 3px solid;
  align-items: center;
}
header #branding {
  font-weight: bold;
  padding: 1rem;
}
header nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
header nav ul li {
  display: inline;
  padding: 0 1rem 0 1rem;
}
header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

header .current {
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
  border-bottom: 4px solid #53e3a6;
}

header a:hover {
  color: #53e3a6;
  font-weight: bold;
}

header a:hover {
  color: #53e3a6;
  font-weight: bold;
}

/* Background animation */
/* ======================================= */
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: sans-serif;
  color: white;
  font-weight: 300;
}

.animation-wrapper {
  background: #50a3a2;
  background: linear-gradient(to bottom right, #26d0ce 0%, #687ceb 100%);
  position: absolute;
  overflow: hidden;
  margin: auto;
  width: 100%;
  height: 120vh;
  min-width: 42rem;
}

.epicmails {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.epicmails li {
  position: absolute;
  list-style: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -80px;
  -webkit-animation: epicmailanimation 25s infinite;
  animation: epicmailanimation 25s infinite;
  transition-timing-function: linear;
}

.epicmails li:nth-child(1) {
  left: 10%;
  width: 0px;
  height: 0px;
  border-top: 40px solid rgba(255, 255, 255, 0.2);
  border-left: 40px solid rgba(255, 255, 255, 0.1);
  border-bottom: 20px solid rgba(255, 255, 255, 0.1);
  border-right: 10px solid rgba(255, 255, 255, 0.1);
  border-radius: 5%;
}

.epicmails li:nth-child(2) {
  left: 20%;
  width: 0px;
  height: 0px;
  border-top: 40px solid rgba(255, 255, 255, 0.2);
  border-left: 40px solid rgba(255, 255, 255, 0.1);
  border-bottom: 20px solid rgba(255, 255, 255, 0.1);
  border-right: 40px solid rgba(255, 255, 255, 0.1);
  border-radius: 5%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}

.epicmails li:nth-child(3) {
  left: 25%;
  width: 0px;
  height: 0px;
  border-top: 20px solid rgba(255, 255, 255, 0.2);
  border-left: 20px solid rgba(255, 255, 255, 0.1);
  border-bottom: 10px solid rgba(255, 255, 255, 0.1);
  border-right: 20px solid rgba(255, 255, 255, 0.1);
  border-radius: 5%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.epicmails li:nth-child(4) {
  left: 40%;
  width: 0px;
  height: 0px;
  border-top: 30px solid rgba(255, 255, 255, 0.25);
  border-left: 30px solid rgba(255, 255, 255, 0.15);
  border-bottom: 15px solid rgba(255, 255, 255, 0.15);
  border-right: 30px solid rgba(255, 255, 255, 0.15);
  border-radius: 5%;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}

.epicmails li:nth-child(5) {
  left: 70%;
  width: 0px;
  height: 0px;
  border-top: 20px solid rgba(255, 255, 255, 0.22);
  border-left: 20px solid rgba(255, 255, 255, 0.12);
  border-bottom: 10px solid rgba(255, 255, 255, 0.12);
  border-right: 20px solid rgba(255, 255, 255, 0.12);
  border-radius: 5%;
}

.epicmails li:nth-child(6) {
  left: 80%;
  width: 0px;
  height: 0px;
  border-top: 60px solid rgba(255, 255, 255, 0.2);
  border-left: 60px solid rgba(255, 255, 255, 0.1);
  border-bottom: 30px solid rgba(255, 255, 255, 0.1);
  border-right: 60px solid rgba(255, 255, 255, 0.1);
  border-radius: 5%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  background-color: rgba(255, 255, 255, 0.2);
}

.epicmails li:nth-child(7) {
  left: 32%;
  width: 0px;
  height: 0px;
  border-top: 80px solid rgba(255, 255, 255, 0.2);
  border-left: 80px solid rgba(255, 255, 255, 0.1);
  border-bottom: 40px solid rgba(255, 255, 255, 0.1);
  border-right: 80px solid rgba(255, 255, 255, 0.1);
  border-radius: 5%;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.epicmails li:nth-child(8) {
  left: 55%;
  width: 0px;
  height: 0px;
  border-top: 10px solid rgba(255, 255, 255, 0.2);
  border-left: 10px solid rgba(255, 255, 255, 0.1);
  border-bottom: 5px solid rgba(255, 255, 255, 0.1);
  border-right: 10px solid rgba(255, 255, 255, 0.1);
  border-radius: 5%;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}

.epicmails li:nth-child(9) {
  left: 25%;
  width: 0px;
  height: 0px;
  border-top: 5px solid rgba(255, 255, 255, 0.4);
  border-left: 5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2.5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 5%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}

.epicmails li:nth-child(10) {
  left: 90%;
  width: 0px;
  height: 0px;
  border-top: 80px solid rgba(255, 255, 255, 0.2);
  border-left: 80px solid rgba(255, 255, 255, 0.1);
  border-bottom: 40px solid rgba(255, 255, 255, 0.1);
  border-right: 80px solid rgba(255, 255, 255, 0.1);
  border-radius: 5%;
  -webkit-animation-delay: 8s;
  animation-delay: 8ss;
}

@-webkit-keyframes epicmailanimation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(600deg);
    transform: translateY(-1000px) rotate(600deg);
  }
}

@keyframes epicmailanimation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(600deg);
    transform: translateY(-1000px) rotate(600deg);
  }
}

/* Signup form */
.form-container {
  margin: -90px auto 0 auto;
  max-width: 600px;
  padding: 150px 0;
  height: 400px;
  text-align: center;
}

.form-container h1 {
  margin-bottom: 1rem;
  font-size: 40px;
  font-weight: 200;
}

form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: none;
  border-radius: 10px;
  border-bottom: 1px solid #fff;
  background: none;
  width: 250px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  font-size: 18px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;
}

form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}

form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  margin-top: 1rem;
  background-color: #fff;
  border: 0;
  padding: 1rem 1.5rem;
  color: #229c69;
  border-radius: 1rem;
  width: 25rem;
  cursor: pointer;
  font-size: 1.8rem;
  transition-duration: 0.25s;
}

form button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97b1bf;
  color: #53e3a6;
}
form .reset-password a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: font-size 0.25s, text-shadow 0.5s;
}

form .reset-password a:hover {
  color: white;
  font-size: 1.6rem;
  text-shadow: 1px 1px 1px #eee;
}

form .reset-password {
  padding: 1rem;
  padding-right: 12.5rem;
  text-align: center;
}

/* reset password text */
.reset-info {
  margin: 2rem 1rem;
}

/* Dashboard styling */
.dash-menu-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  padding-top: 16px;
}
.dash-menu {
  position: relative;
  top: 0%;
}
.dash-margin {
  padding: 5rem;
}

.content {
  min-width: 32rem;
}

.content-menu {
  background: rgba(255, 255, 255, 0.1);
  min-width: 32rem;
  text-align: center;
}
.content-menu div {
  display: inline-block;
  padding: 2rem 0.5rem;
}

#reload-messages {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#hamburger-link {
  margin-left: auto;
  font-size: 5rem;
  color: #fff;
  padding: 0.3rem;
}

.content-messages {
  margin-top: 1rem;
  height: 50rem;
  overflow: auto;
}


/* menu edit */
.compose {
  padding: 2rem;
  text-align: center;
}
.compose button {
  margin-top: 3rem;
  outline: 0;
  margin-left: 1rem;
  padding: 2rem 6rem;
  font-size: 2rem;
  border: none;
  box-shadow: 0px 2px 3px 1px #97b1bf;
  background-color: #fff;
  cursor: pointer;
  color: #229c69;
  transition-duration: 0.25s;
}

.compose button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 7px #97b1bf;
  color: #53e3a6;
}

.options div {
  display: block;
  background: linear-gradient(to bottom right, #26d0ce 0%, #687ceb 100%);
  text-align: center;
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid #26d0ce;
}

.options a {
  text-decoration: none;
  color: #fff;
}

.options .current-dash {
  background: #fff;
  color: #229c69;
  /* box-shadow:0px 2px 10px 1px #fff; */
  border: 2px solid #eee;
}

.options div:hover {
  background: #fff;
  color: #53e3a6;
  box-shadow: 1px 2px 10px 2px #97b1bf;
}

/* Groups page */

.create-group {
  background: rgba(255, 255, 255, 0.1);
}
.create-group {
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
}
.create-group button {
  display: inline-block;
  margin: 1rem;
}
.create-group input {
  display: inline-block;
  margin: 1rem;
  width: 100%;
}

/* center align */
.add-user-style {
  text-align: center;
  font-size: 2rem;
}

.add-user-style h3 {
  margin: 3rem;
}

.select-user-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 2.2rem;
}

.select-user-checkbox label {
  margin: 3rem 1rem;
}

.center-group {
  text-align: center;
}
.select-style {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  width: 50%;
  height: 2.5rem;
  background: none;
  outline: 0;
  border: 1px solid #e0e0e0;
  transition-duration: 0.25s;
  color: #444;
}

/* Group error */
.group-error {
  display: none;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 2rem;
  display: block;
  text-align: center;
  width: 100%;
}



#compose-send-to-group-button {
  display: none;
}

select optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin: 0 auto;
}

th,
td {
  text-align: left;
  padding: 0.8rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.overflow-center {
  overflow-x: auto;
  text-align: center;
}

/* compose modal */

.compose-modal {
  font-size: 0.7rem;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  margin: 0em;
  color: #fff;
  background: linear-gradient(to bottom right, #26d0ce 0%, #687ceb 100%);
  box-shadow: 0.1em 0.2em 1em 0.2em #444;
  z-index: 5;
}

.compose-modal-header {
  display: flex;
  background: linear-gradient(to bottom right, #26d0ce 0%, #687ceb 100%);
  padding: 1em;
  height: 5em;
}

.compose-modal-header h3 {
  font-size: 2em;
}
.modal-close {
  font-size: 3em;
  margin-left: auto;
  transition: font-size 0.25s;
}

.modal-close:hover {
  font-size: 4em;
  text-shadow: 0.1em 0.1em 0.1em #000;
  cursor: pointer;
}

.compose-modal-body {
  padding-left: 1em;
}

.compose-modal-body input {
  display: inline-block;
  margin: 0.5em;
  width: 80%;
}

.compose-modal-body input:focus {
  width: 90%;
}

.compose-modal-body textarea {
  margin: 2em 1em 1em 1em;
  resize: none;
  font-size: 1.7em;
}

.compose-modal-body button {
  margin-left: 1em;
}

#compose-send-button {
  background: #fff;
}

#mobile-cancel-button {
  display: block;
  background: rgba(212, 10, 10, 0.76);
}

/* compose modal select */
.compose-modal-select {
  margin-left: 2em;
  font-size: 1.6em;
}

.compose-modal-select select {
  margin-left: 1em;
  margin-bottom: 1.5em;
  width: 58%;
  height: 2.5em;
  background: none;
  outline: 0;
  border: 0.1em solid #e0e0e0;
  transition-duration: 0.25s;
  color: #fff;
}

.compose-modal-select select option {
  color: #444;
}

/* page state */
.page-state {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  margin-right: 4rem;
}

/* NEW VIEW MESSAGES THREAD */
.thread {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}



.panel {
  background: rgba(255, 255, 255, 0.924);
}

.panel p {
  color: black;
  padding: 2rem;
}

.panel {
  padding: 0 18px;
  display: block;
  background-color: white;
  overflow: hidden;
}

/* retract message */
.retract-message {
  color: #444;
  margin: 0.5rem;
  transition: all 0.25s;
}

span.retract-message:hover {
  color: red;
  text-shadow: 0.4px 0.4px #fff;
  cursor: pointer;
  border: 0.1rem solid grey;
}

.send-draft-message {
  margin: 0.5rem;
  color: rgb(3, 80, 3);
  transition: all 0.25s;
}

span.send-draft-message:hover {
  color: green;
  cursor: pointer;
  text-shadow: 0.4px 0.4px #fff;
  border: 0.1rem solid grey;
}

.delete-draft-message {
  color: rgb(148, 12, 12);
  margin: 0.5rem;
  transition: all 0.25s;
}

span.delete-draft-message:hover {
  color: red;
  text-shadow: 0.4px 0.4px #fff;
  cursor: pointer;
  border: 0.1rem solid grey;
}

/* Media queries */
/* ======================================= */
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    align-items: center;
  }
  header nav {
    margin-left: auto;
    margin-right: 7rem;
  }
  header #branding {
    margin-left: 7rem;
  }

  .dash-menu-overlay {
    display: none;
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    padding-top: 16px;
  }

  .compose-modal {
    font-size: 1rem;
    width: 60em;
    height: 64em;
    bottom: 0em;
    right: 5em;
    top: auto;
    left: auto;
  }

  #mobile-cancel-button {
    display: none;
  }
  .compose-modal {
    font-size: 0.625vmax;
    width: 50em;
    height: auto;
    position: fixed;
    bottom: 1em;
    right: 5em;
    margin: 0em;
    color: #fff;
    background: linear-gradient(to bottom right, #26d0ce 0%, #687ceb 100%);
    box-shadow: 0.1em 0.2em 1em 0.2em #444;
  }

  .compose-modal-body form button {
    margin-left: 1em;
    display: inline-block;
    width: 15rem;
  }

  #hide-x-desktop {
    display: none;
  }

  .options div {
    background: rgba(255, 255, 255, 0.1);
  }

  .animation-wrapper {
    height: 91vh;
  }
}

/* Javascript added classes for desktop/mobile */

/* Dashboard Grid */
.main {
  display: grid;
  grid-template-columns: [menu] 2fr [content] 8fr;
  grid-template-rows: [body] auto [footer] 50px;
  grid-gap: 2rem;
  margin: 0px 50px;
}

.menu {
  grid-row: body;
  grid-column: menu;
  margin-top: -5rem;
}

.content {
  grid-row: body;
  grid-column: content;
}

footer {
  grid-row: footer;
  grid-column: menu/content;
}

/* shift x button */
.shift-top {
  margin-left: 30rem;
  margin-top: 2rem;
}

.x-close {
  font-size: 3em;
  transition: font-size 0.25s;
}

.x-close:hover {
  font-size: 4em;
  text-shadow: 0.1em 0.1em 0.1em #000;
  cursor: pointer;
}

/* index-page css */
.welcome-message div {
  background: rgba(255, 255, 255, 0.1);
}
.welcome-message {
  margin-top: 10rem;
  font-size: 3rem;
}

/* redesign inbox page */
.show-messages-link {
  text-decoration: none;
  color: black;
  background: rgba(255, 255, 255, 0.924);
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: left;
  padding: 0.5rem;
  border-bottom: 3px solid #eee;
  transition: all 0.15s;
}
div.show-messages-link:hover {
  background: #53e3a6;
}

.message-from {
  position: absolute;
  margin-left: 2rem;
  margin-right: auto;
  overflow: hidden;
  max-width: 50rem;
}

.message-from h4 {
  margin: 1rem;
}
.message-from p {
  margin: 1rem;
}

.user-img {
  width: 6rem;
  height: 6rem;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  margin: 0.4rem;
  margin-left: 1.5rem;
}
.user-img-profile {
  width: 4rem;
  height: 4rem;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  margin-left: auto;
}

.errorDiv {
  margin-top: 3rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
}

.compose-error-class {
  display: none;
  font-size: 1.5em;
  /* margin-top: 3rem; */
  padding: 0.1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 90%;
  height: 70%;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.visibility-visible {
  visibility: visible;
}

.visibility-hidden {
  visibility: hidden;
}

.content-menu {
  padding-bottom: 1rem;
}

.center-content{
  text-align: center;
}

#compose-send-button{
  width: 25rem;
}

.margin-auto{
  margin: auto;
}


.spinner-div {
  min-width: 32rem;
  text-align: center;
}

.color-grey{
  padding-top: 1rem;
  color: rgb(51, 50, 50);
}

.overflow-wrap{
  overflow-wrap: break-word;
}

.error-message-margin-top{
  margin-top: 4rem;
}